<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <p><a href="/">Загрузка файлов</a>
    <h1>Поиск файлов</h1>
    <form method="POST" action="/search">
        <lable>Поиск файла по контексту:</lable>
        <input type="text" , name="keyword">
        <p>
            <lable>Поиск по названию файла:</lable>
            <input type="text" , name="name">
        <p><input class="clickable-btn" type="submit" value="Поиск">
    </form>
    <h2>Результаты запроса</h2>
    {% for id in ids if ids %}
    <p><a href="{{ url_for('download', filename=id[0]) }}">{{ id[0] }}</a>
        {% endfor %}
        <script src="/static/script.js"></script>
</body>

</html>
